@import "./zencolor";

.zhc-btn {
  border: 1px solid $black-rock !important;
  color: $romance !important;
}

.zhc-btn--default,
.zhc-btn--default.zhc-btn--disabled,
.zhc-btn--default[disabled] {
  background-color: $black-rock !important;
  border-color: $romance !important;
}

.zhc-btn--topbar:hover {
  background-color: $black-rock !important;
}

.zhc-breadcrumbs__copy {
  color: $solitude !important;
}

.zhc-breadcrumbs__divider {
  color: $solitude !important;
}

.zhc-breadcrumbs__dropdown .zhc-selection-button:hover {
  border-color: $black-rock !important;
}

.zhc-icon--chevron-right {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg height='16' width='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6l-5 5z' fill='%23333'/%3E%3C/svg%3E");
}

.zhc-icon--menu {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h16v16H0z'/%3E%3Cg transform='translate(3 4)");
}

.zhc-topbar {
  background-color: $tuna !important;
  border-bottom: 1px solid $black-rock !important;
}

.zhc-topbar__sidebar-toggle {
  border-right: 1px solid $black-rock !important;
}
